body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(159, 159, 159);
}
.board{
  display: flex;
  justify-content: center;
  margin-top: 2rem;

}
.square{
  background-color: white;
  width: 10rem;
  height: 10rem;
  margin: 1rem;
  border-radius: 20px;
  box-shadow: 10px 5px 10px black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}
.alert_trap{
  position: absolute;
  top: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  width: 20rem;
  height: 10rem;
  background-color: red;
  border-radius: 20px;
  /* display: none; */
}